.FormChangePassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

&InputSMS,&InputNewPass {
    background-color: #e7e7e7;
    border: none;
    height: 35px;
    width: 204px;
}
&Error {
    color  :rgb(206, 66, 31)
}
}